.App {
  display: flex;
  height: 630px;
  .side {
    height: 100%;
    width: $side-width;
    background-color: $main-bkgd-color;
    border-radius: 3px;
    padding: $side-padding;
    overflow: auto;
    scrollbar-color: red;
  }
  .left-side {
  }
}
