.App {
  display: flex;
  height: 630px;
  width: 2 * ($side-width + $side-margin-right);
  .side {
    height: 100%;
    width: $side-width;
    background-color: $main-bkgd-color;
    border-radius: 3px;
    padding: $side-padding;
    overflow: auto;
    @media screen and (max-width: 600px) {
      width: 100vw;
      height: 100vh;
    }
  }
  .left-side {
    margin-right: $side-margin-right;
    @media screen and (max-width: 600px) {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 600px) {
    width: 100vw;
    flex-direction: column;
    height: 100vh;
  }
}
