@font-face {
  font-family: "Lado";
  font-style: normal;
  src: local("Lado"), url(../assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lado";
  font-style: thin;
  src: local("Lado"), url(../assets/fonts/Lato-Thin.ttf);
}

@font-face {
  font-family: "Lado";
  font-style: lighter;
  src: local("Lado"), url(../assets/fonts/Lato-Light.ttf);
}
