.sorting {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  button {
    font-size: 20px;
    height: 25px;
    width: 15px;
    border-radius: 25px;
    color: white;
    padding: 0;
    margin-left: 5px;
  }
}
