.sorting {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 22px;

  label {
    margin-right: 5px;
    font-size: 15px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    height: 20px;
    width: 15px;
    border-radius: 25px;
    color: black;
    margin-left: 4px;
  }

  select {
    height: 20px;
    width: 80px;
    text-align: center;
    background-color: $select-sorting-bkgd;
    color: $select-sorting-color;
    font-size: 15px;
    border-radius: 25px;
    appearance: none;
    &:focus {
      outline: none;
    }
    option {
      background: $option-bkgd;
      color: $option-sorting-color;
    }
  }
}
