$selected-task-color: rgba(251, 251, 251, 1);
$task-color: rgba(196, 196, 196, 1);

$main-bkgd-color: rgba(227, 227, 227, 1);

$rmv-task-btn-size: 25px;
$rmv-task-btn-font-color: rgba(120, 120, 120, 1);
$rmv-task-btn-bkgd: rgb(170, 170, 170);

$add-task-btn-bkgd: rgba(135, 135, 135, 1);

$scrollbar-thumb-color: rgb(59, 59, 59);
$scrollbar-bkgd: gray;

$input-bkgd: white;
$select-sorting-color: white;
$select-sorting-bkgd: gray;
$option-sorting-color: rgb(53, 53, 53);
$option-bkgd: rgb(179, 179, 179);

///

$side-padding: 20px;
$side-width: 460px;
$side-margin-right: 15px;

$done-btn-bkgd: rgb(201, 201, 201);
$not-done-btn-bkgd: rgb(78, 78, 78);

$light-font-color: rgb(216, 216, 216);

$succes-bkgd: rgb(97, 97, 97);
