$selected-task-color: rgb(187, 187, 187);
$task-color: rgb(153, 153, 153);

$main-bkgd-color: rgb(78, 78, 78);

$rmv-task-btn-size: 25px;
$rmv-task-btn-font-color: white;
$rmv-task-btn-bkgd: rgb(170, 170, 170);

$add-task-btn-color: invert(61%) sepia(32%) saturate(735%) hue-rotate(78deg)
  brightness(102%) contrast(91%);

$scrollbar-thumb-color: rgb(59, 59, 59);
$scrollbar-bkgd: gray;

$input-bkgd: rgb(204, 204, 204);
$select-sorting-color: rgb(77, 77, 77);
$select-sorting-bkgd: gray;
$option-sorting-color: rgb(53, 53, 53);
$option-bkgd: rgb(179, 179, 179);
