$main-color1: rgb(80, 80, 80);
$main-color2: rgb(37, 37, 37);
$accent-color1: rgb(219, 219, 219);
$font-color: rgb(161, 161, 161);

$selected-task-color: $accent-color1;

$task-color: $main-color1;

$main-bkgd-color: $main-color2;

$rmv-task-btn-size: 25px;
$rmv-task-btn-font-color: $main-color2;
$rmv-task-btn-bkgd: $main-color2;

$add-task-btn-bkgd: $accent-color1;

$scrollbar-thumb-color: rgb(59, 59, 59);
$scrollbar-bkgd: gray;

$input-bkgd: white;
$select-sorting-color: white;
$select-sorting-bkgd: gray;
$option-sorting-color: rgb(53, 53, 53);
$option-bkgd: rgb(179, 179, 179);

///

$side-padding: 20px;
$side-width: 460px;
$side-margin-right: 45px;

$done-btn-bkgd: rgb(201, 201, 201);
$not-done-btn-bkgd: rgb(78, 78, 78);

$light-font-color: rgb(216, 216, 216);

$succes-bkgd: rgb(97, 97, 97);
