@font-face {
  font-family: "Lado";
  font-style: normal;
  src: local("Lado"), url(../assets/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lado";
  font-style: thin;
  src: local("Lado"), url(../assets/fonts/Lato-Thin.ttf);
}
@font-face {
  font-family: "Lado";
  font-style: lighter;
  src: local("Lado"), url(../assets/fonts/Lato-Light.ttf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lado";
  background-color: #505050;
  color: black;
  margin-left: 180px;
  margin-top: 120px;
}

button,
.submitBtn {
  background: none;
  border: none;
  font-family: "Lado";
}

select {
  font-family: "Lado";
}

input {
  background-color: white;
  border: none;
  border-radius: 24px;
  height: 30px;
  font-family: "Lado";
}
input:focus {
  outline: none;
}

input[type=text] {
  padding-left: 10px;
}

input[type=date] {
  text-align: center;
  padding: 0 20px;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3b3b3b gray;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: gray;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
  border-radius: 1px;
}

.btn-style-1 {
  border-radius: 25px;
  background-color: #878787;
  font-size: 20px;
  color: white;
}

.App {
  display: flex;
  height: 630px;
}
.App .side {
  height: 100%;
  width: 460px;
  background-color: #e3e3e3;
  border-radius: 3px;
  padding: 20px;
  overflow: auto;
  scrollbar-color: red;
}
.addTask {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #e3e3e3;
}
.addTask .input-wrapper {
  width: 100%;
  margin-bottom: 30px;
}
.addTask .input-wrapper #description {
  width: 413px;
  margin-top: 10px;
}
.addTask .input-wrapper #dueDate {
  width: 172px;
  margin-top: 29px;
  margin-right: 70px;
}
.addTask .input-wrapper label {
  font-size: 20px;
}
.addTask .input-wrapper::before {
  content: " ";
  background-color: #e3e3e3;
  position: absolute;
  height: 180px;
  width: 450px;
  left: -20px;
  top: -20px;
  z-index: -1;
}
.addTask .addTask-upper-form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.addTask .addTask-lower-form {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.addTask .description-too-short {
  position: absolute;
  bottom: -1.3em;
  font-size: 14px;
}
.addTask .date-in-paste {
  position: absolute;
  bottom: -1.3em;
  font-size: 14px;
}
.addTask .addTaskBtn {
  width: 105px;
  height: 30px;
  display: flex;
  justify-content: center;
}
.addTask .addTaskBtn::after {
  content: url(../assets/images/plus-solid.svg);
  width: 21px;
  position: relative;
  left: 6px;
  top: 1px;
  filter: invert(1);
}

.sorting {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 22px;
}
.sorting label {
  margin-right: 5px;
  font-size: 15px;
}
.sorting button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 20px;
  width: 15px;
  border-radius: 25px;
  color: black;
  margin-left: 4px;
}
.sorting select {
  height: 20px;
  width: 80px;
  text-align: center;
  background-color: gray;
  color: white;
  font-size: 15px;
  border-radius: 25px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.sorting select:focus {
  outline: none;
}
.sorting select option {
  background: #b3b3b3;
  color: #353535;
}

.task-sorting-container .tasks-list {
  margin-top: 25px;
}
.task-sorting-container .descr {
  font-size: 20px;
}
.task-sorting-container .due-date-show {
  font-size: 16px;
}
.task-sorting-container .task-infos-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c4c4c4;
  border-radius: 3px;
  height: 60px;
  width: 413px;
  margin: 18px 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.task-sorting-container .task-infos-container button {
  margin-left: 10px;
}
.task-sorting-container .task-infos-container.selected {
  background-color: #fbfbfb;
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
}
.task-sorting-container .task {
  width: 100%;
  min-height: 80%;
  padding-left: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.task-sorting-container .rmv-task-btn {
  border-radius: 25px;
  height: 25px;
  width: 25px;
  color: #787878;
  margin-right: 10px;
}
.task-sorting-container .rmv-task-btn:hover {
  background-color: #aaaaaa;
}

.updateTask {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.updateTask .inner-form {
  margin-top: 10px;
}
.updateTask textarea {
  width: 100%;
  height: 200px;
}/*# sourceMappingURL=index.css.map */